# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# OS
.DS_Store

# IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr

# Maven
.target/
*.log
!logback-test.xml
!logback.xml

# Java
*.class
*.log
!logback-test.xml
!logback.xml
